.box{
    background-color: black;
    width: 1500px;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 10px auto;
}

div{
    background-color: white;

}
.item{
    float: left;
    width: 300px;
    margin: 20px 5px 10px 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid red;
}
h2{
    background-color: silver;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    border: 1px solid silver;
    margin-bottom: -1px;
    border-radius: 10px;

}
p{
    text-align: center;
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
    border: 1px solid white;
}
h3{
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
